body {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 20px "Century Gothic", Futura, sans-serif;
    font-weight: bold;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background:rgb(186, 218, 210);
    border: 5px solid rgb(6, 85, 64);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: -4px;
    margin-top: -4px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  